body {
	height: 1800px;
	padding-top: 18.89px;
}
li {
	display: inline-block;
}
header {
	position: fixed;
	top: 0;
    right: 0;
    width: 100%;
    background-color: red;
    z-index: 2;
    }

.wraper {
	width: 600px;
	height: 600px;
	background-color: green;
	position: relative;

}
.box:nth-child(1) {
background-color: grey;
width: 300px;
height: 250px;
position: absolute;
top: 0;
left: 50px;
}
.box:nth-child(2) {
	background-color: blue;
	width: 300px;
	height: 250px;
	position: absolute;
	bottom: 0;
	left: 50px;
}

.text {
	background-color: red;
	position: absolute;
	top: 50px;
	left: 0;
}
 .image {
 	position: relative;
 }
 .icon {
 	position: absolute;
 	bottom: 100px;
 	left: 0;
 	height: 80px;
 }